<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Angular 2 Web API - Seed Project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/js/es6-shim.min.js"></script>
    <script src="~/js/zone.min.js"></script>
    <script src="~/js/Reflect.js"></script>
    <script src="~/js/system.js"></script>
    <script src="~/js/system.config.js"></script>
    <script>
        System.import('app').catch(function (err) {
            console.error(err);
        });
    </script>
</head>
<body>
    @RenderBody()
</body>
</html>